# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode related
.vscode/
*.code-workspace

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
generated_plugin_registrant.*

# Platform specific temporary files/build outputs
**/android/.gradle
**/android/captures/
**/android/local.properties
**/android/**/build
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/wrapper/gradle-wrapper.jar
**/android/key.properties
**/android/**/*.keystore
**/android/**/*.jks
**/ios/Pods/
**/ios/Flutter/ephemeral
**/ios/Flutter/.last_build_id
**/ios/.symlinks/
**/ios/profile
**/ios/xcuserdata/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/ServiceDefinitions.json

# macOS desktop specific
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.*
**/macos/Pods/

# Coverage
coverage/
*.lcov

# Demo folder temporary files
/demo/*
!/demo/README.md
# Uncomment the following lines when you add your actual demo files
#!/demo/document_scanner.gif
#!/demo/business_card_scanner.gif
